 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
      body {
      font-family: Arial, sans-serif;
      background: #f2f4ff;
      display: flex;
      height: 100vh;
    }
    .row g-3 {
      background-color: white;
    }
  </style>


    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/sites">Sites</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%=title%></li>
      </ol>
    </nav>


    <div>
      <h1>Dashboard</h1> 
      <h2><%=site_name.domain%></h2> 
    </div>

  <% if (duration=="24h") { %>
     <a href="/sites/<%=site_id%>/dashboard/?duration=24h" class="link-primary">24 hours</a>
  <% } else { %>
      <a href="/sites/<%=site_id%>/dashboard/?duration=24h" class="link-secondary">24 hours</a>
  <% }%>

  <% if (duration!="30d" && duration!="24h") { %>
     <a href="/sites/<%=site_id%>/dashboard/?duration=7d" class="link-primary">7 days</a>
  <% } else { %>
      <a href="/sites/<%=site_id%>/dashboard/?duration=7d" class="link-secondary">7 days</a>
  <% }%>


  <% if (duration=="30d") { %>
     <a href="/sites/<%=site_id%>/dashboard/?duration=30d" class="link-primary">30 days</a>
  <% } else { %>
      <a href="/sites/<%=site_id%>/dashboard/?duration=30d" class="link-secondary">30 days</a>
  <% }%>


  <div class="container mt-4">
    <div style="position: relative;">
        <canvas style="width: 80%; height: 60%" id="myChart"></canvas>
    </div>

    <div class="row g-3">
      <%- include('partials/analyticstable', {
          title: 'AI Sources',
          headers: ['Source', 'Count'],
          rows: aiSources
        }) %>

      <%- include('partials/analyticstable', {
        title: 'Top Pages',
        headers: ['Page', 'Views'],
        rows: pageTitles
        }) %>

      <%- include('partials/analyticstable', {
        title: 'Path Names',
        headers: ['Path', 'Views'],
        rows: pathNames
        }) %>
      </div>
    </div>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
    </script>

    <script defer>
      const path = window.location.pathname;
      const match = path.match(/\/sites\/([0-9a-fA-F-]{36})\/dashboard/);
      const uuid = match?.[1];
      if (!uuid) {
        console.err("Invalid UUID")
      }

      fetch(`${window.location.origin}/charts/` + uuid + "?duration=<%=duration%>")
      .then(response => {
      // Check if the request was successful
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json(); // Parses the body content as JSON
      })
        .then(data => {
          const days = "<%= duration %>";
          let dates = [];
          if ( days === "24h") {
              dates = data.map(item => 
              new Date(item.hour).toLocaleTimeString('en-US', {
                hour: 'numeric',
                hour12: true
              }));
          } else {
            dates = data.map(item => 
              new Date(item.date).toLocaleDateString('en-US', {
                month: 'short',
                day: 'numeric'
          }));
          }
            
          const counts = data.map(item => item.event_count)
          console.log(dates);
          console.log(counts);

          chart.data.labels = dates;
          chart.data.datasets[0].data = counts;
          chart.update();
        }) // Handle the data
        .catch(error => console.error('Fetch error:', error)); // Handle network errors
    </script>

    <script>
  const ctx = document.getElementById('myChart');

    chart = new Chart(ctx, {
      type: 'line', // Options: 'line', 'pie', 'doughnut', etc.
      data: {
        labels: [],
        datasets: [{
          label: '# of AI Referrals',
          data: [],
          backgroundColor: 'rgba(199, 146, 223, 0.5)', // Fill color (light blue)
          borderColor: 'rgba(199, 146, 223, 1)',       // Line color (solid blue)
          borderWidth: 2,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              stepSize: 1
            }
          }
        }
      }
    });
  </script>